@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Montserrat:wght@500;700&family=Quicksand:wght@500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
    --primary-text-color: #000000;
    --secondary-text-color: #0082FF;
    --accent-color: #E0FBFC;
    --accent-color-dark: #243c53;
    --padding-inline-section: 20px;
    --background-color: #FFFFFF;
}

body {
  font-family: 'Montserrat',sans-serif;
  color: var(--primary-text-color);
  background-color: var(--background-color);
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
p {
  font-family: 'Quicksand';
  font-size: 1.25rem;
  color: var(--secondary-text-color);
  line-height: 1.8rem;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul {
  list-style: none;
}
/* utility classes */
.flex {
  display: flex;
  align-items: center;
}
.small-bold-text {
  font-size: 1rem;
  font-weight: 600;
}
.container {
  max-width: 1180px;
  margin-inline: auto;
  padding-inline: var(--padding-inline-section);
}
/* nav bar */
.main-nav {
  margin-top: 5px;
  justify-content: space-between;
}
.hover-link {
  color: var(--accent-color);
}
.hover-link:hover{
  color: var(--secondary-text-color);
  transition-property: 0.2s ease-out;
}
.primary-button {
  background-color: var(--accent-color);
  border-radius: 6px;
  font-weight: bold;
  padding: 12px 24px;
  box-shadow: 0 0 2px var(--secondary-text-color);
  transition: 0.2s ease-out;
  color: var(--primary-text-color);
}
.primary-button:hover{
  background-color: var(--secondary-text-color);  
   color: var(--accent-color-dark);
}
.secondary-button{
  border: 0.5px solid var(--accent-color);
  border-radius: 6px;
  font-weight: bold;
  color: var(--accent-color);
  padding: 12px 24px;
  transition: 0.2s ease-out;
}
.secondary-button:hover {
    background-color: var(--secondary-text-color);
    color: var(--accent-color-dark);
}

.ternary-button {
  background-color: var(--accent-color-dark);
  border-radius: 6px;
  font-weight: bold;
  padding: 12px 24px;
  box-shadow: 0 0 2px var(--secondary-text-color);
  transition: 0.2s ease-out;
  color: var(--accent-color);
}
.ternary-button:hover{
  background-color: var(--secondary-text-color);  
   color: var(--accent-color-dark);
}
.main-nav {
    padding: 10px;
    /* position: fixed; */
    padding-left: 20px;
    background-color: var(--primary-text-color);
}
.company-logo img {
  width: 100px;
}
.nav-links {
  /* flex-basis: 730px; */
  justify-content: space-between;
  font-weight:550;
  font-size: 20px;
}
.nav-links ul{
  justify-content: end;
  gap: 40px;
}
/* Header */
header {
  padding: 50px var(--padding-inline-section) 0;
}
.header-section {
  justify-content: center;
  gap: 50px;
}
/* Patient Profiles */
.patient-area{
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: space-between;
  margin-block: 30px;
  gap: 20px;
}
.patient-card {
  justify-content: center;
  /* flex-direction: column; */
  margin: auto;
  text-align: center;
  width: 800px;
  min-height: 300px;
  border-radius: 20px;
  background: var(--primary-text-color);
  transition: 0.2s ease-out;
  color: var(--background-color);
  padding: 10px;
}
.patient-card h2{
    padding-top: 20px;
    /* padding-bottom: 20px; */
}
.patient-card img {
  max-height: 250px;
}
.patient-card:hover {
  border: solid #F8EBD6 0.2px;
  box-shadow: 0 0 10px #888;
  transition: ease-in-out 0.5s;
}
.patient-text{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  flex-direction: column;
  margin: auto;
  text-align: start;
}
.patient-text p {
  color: var(--background-color);
  margin-bottom: 5px;
}